/Amazone_Clone
/Animation
/Background_image
/creat navbar
/Drop_DownMenuProj
/Event_Registration
/FlexBox Playground
/form
/Lets_Stsrt
/media_queries
/media_queries2
/position_property
/practice set 3
/practice set 4
/practice_set_6
/practice_set_7
/practice_set_8
/Practic_set_5
/projrct
/Restart
/transitions
/WebPage_desigen